version: '3'
services:
    testcafe:
        image: testcafe/testcafe:latest
        container_name: testcafe
        depends_on:
            - bgpstreamhisttap
            - bgpstreamkafkatap
            - bgpstreamlivetap
            - configuration
            - database
            - detection
            - exabgptap
            - mitigation
            - notifier
            - postgres
            - prefixtree
            - rabbitmq
            - redis
            - riperistap
            - frontend
        network_mode: host
        entrypoint: [ "/bin/sh", "-c" ]
        command: [ "sleep 60s && testcafe chromium:headless /tests/**/*.js" ]
        volumes:
            - ./testing/testcafe/tests:/tests
    riperistap:
        image: artemis_riperistap
        build: ./monitor-services/riperistap/
        restart: always
        depends_on:
            - database
            - prefixtree
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            MON_TIMEOUT_LAST_BGP_UPDATE: ${MON_TIMEOUT_LAST_BGP_UPDATE}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
            RIS_ID: ${RIS_ID}
    bgpstreamlivetap:
        image: artemis_bgpstreamlivetap
        build: ./monitor-services/bgpstreamlivetap/
        restart: always
        depends_on:
            - database
            - prefixtree
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            MON_TIMEOUT_LAST_BGP_UPDATE: ${MON_TIMEOUT_LAST_BGP_UPDATE}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
    bgpstreamkafkatap:
        image: artemis_bgpstreamkafkatap
        build: ./monitor-services/bgpstreamkafkatap
        restart: always
        depends_on:
            - database
            - prefixtree
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            MON_TIMEOUT_LAST_BGP_UPDATE: ${MON_TIMEOUT_LAST_BGP_UPDATE}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
    bgpstreamhisttap:
        image: artemis_bgpstreamhisttap
        build: ./monitor-services/bgpstreamhisttap
        restart: always
        depends_on:
            - database
            - prefixtree
            - rabbitmq
        expose:
            - 3000
        networks:
            - artemis
        environment:
            HISTORIC: "true"
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REST_PORT: 3000
    exabgptap:
        image: artemis_exabgptap
        build: ./monitor-services/exabgptap
        restart: always
        depends_on:
            - database
            - prefixtree
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            MON_TIMEOUT_LAST_BGP_UPDATE: ${MON_TIMEOUT_LAST_BGP_UPDATE}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
    autostarter:
        image: artemis_autostarter
        build: ./backend-services/autostarter/
        restart: always
        depends_on:
            - bgpstreamhisttap
            - bgpstreamkafkatap
            - bgpstreamlivetap
            - database
            - detection
            - exabgptap
            - mitigation
            - notifier
            - postgres
            - prefixtree
            - configuration
            - fileobserver
            - riperistap
        networks:
            - artemis
        environment:
            AUTO_RECOVER_PROCESS_STATE: ${AUTO_RECOVER_PROCESS_STATE}
            CHECK_INTERVAL: 5
            DB_USER: ${DB_USER}
            DB_PASS: ${DB_PASS}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_NAME: ${DB_NAME}
            REST_PORT: 3000
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    configuration:
        image: artemis_configuration
        build: ./backend-services/configuration/
        restart: always
        depends_on:
            - bgpstreamhisttap
            - bgpstreamkafkatap
            - bgpstreamlivetap
            - database
            - detection
            - exabgptap
            - mitigation
            - notifier
            - postgres
            - prefixtree
            - rabbitmq
            - redis
            - riperistap
        expose:
            - 3000
        networks:
            - artemis
        environment:
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    database:
        image: artemis_database
        build: ./backend-services/database/
        restart: always
        depends_on:
            - graphql
            - notifier
            - postgres
            - prefixtree
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            DB_USER: ${DB_USER}
            DB_PASS: ${DB_PASS}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_NAME: ${DB_NAME}
            DB_VERSION: ${DB_VERSION}
            HASURA_HOST: ${HASURA_HOST}
            HASURA_PORT: ${HASURA_PORT}
            HASURA_GRAPHQL_ACCESS_KEY: ${HASURA_SECRET_KEY}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
            WITHDRAWN_HIJACK_THRESHOLD: ${WITHDRAWN_HIJACK_THRESHOLD}
            HISTORIC: ${HISTORIC}
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    detection:
        image: artemis_detection
        build: ./backend-services/detection/
        restart: always
        depends_on:
            - notifier
            - database
            - prefixtree
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
            RPKI_VALIDATOR_ENABLED: ${RPKI_VALIDATOR_ENABLED}
            RPKI_VALIDATOR_HOST: ${RPKI_VALIDATOR_HOST}
            RPKI_VALIDATOR_PORT: ${RPKI_VALIDATOR_PORT}
            TEST_ENV: "true"
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    fileobserver:
        image: artemis_fileobserver
        build: ./backend-services/fileobserver/
        restart: always
        depends_on:
            - configuration
        expose:
            - 3000
        networks:
            - artemis
        environment:
            REST_PORT: 3000
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    mitigation:
        image: artemis_mitigation
        build: ./backend-services/mitigation/
        restart: always
        depends_on:
            - rabbitmq
            - database
            - prefixtree
        expose:
            - 3000
        networks:
            - artemis
        environment:
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REST_PORT: 3000
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    notifier:
        image: artemis_notifier
        build: ./backend-services/notifier/
        restart: always
        depends_on:
            - rabbitmq
        expose:
            - 3000
        networks:
            - artemis
        environment:
            HIJACK_LOG_FILTER: ${HIJACK_LOG_FILTER}
            HIJACK_LOG_FIELDS: ${HIJACK_LOG_FIELDS}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REST_PORT: 3000
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    prefixtree:
        image: artemis_prefixtree
        build: ./backend-services/prefixtree/
        restart: always
        depends_on:
            - rabbitmq
            - redis
        expose:
            - 3000
        networks:
            - artemis
        environment:
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
            REST_PORT: 3000
        volumes:
            - ./testing/detection/configs/logging.yaml:/etc/artemis/logging.yaml
    redis:
        image: redis:latest
        container_name: redis
        restart: always
        networks:
            - artemis
        expose:
            - ${REDIS_PORT}
        volumes:
            - ./backend-services/redis/configs/redis.conf:/usr/local/etc/redis/redis.conf
    frontend:
        image: artemis_frontend
        build: ./frontend/
        container_name: frontend
        restart: always
        depends_on:
            - database
            - graphql
            - postgres
            - postgrest
            - rabbitmq
        networks:
            - artemis
        expose:
            - ${WEBAPP_PORT}
        environment:
            API_HOST: ${API_HOST}
            API_PORT: ${API_PORT}
            ARTEMIS_WEB_HOST: ${ARTEMIS_WEB_HOST}
            BIND_IP: ${BIND_IP}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            FLASK_SECRET_KEY: ${FLASK_SECRET_KEY}
            GUNICORN_WORKERS: 1
            HASURA_HOST: ${HASURA_HOST}
            HASURA_PORT: ${HASURA_PORT}
            HASURA_GRAPHQL_ACCESS_KEY: ${HASURA_SECRET_KEY}
            JS_VERSION: ${JS_VERSION}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            RABBITMQ_USER: ${RABBITMQ_USER}
            RABBITMQ_PASS: ${RABBITMQ_PASS}
            RABBITMQ_HOST: ${RABBITMQ_HOST}
            RABBITMQ_PORT: ${RABBITMQ_PORT}
            REST_PORT: 3000
            SECURITY_PASSWORD_SALT: ${SECURITY_PASSWORD_SALT}
            SYSTEM_VERSION: ${SYSTEM_VERSION}
            USER_ROOT_USERNAME: ${ADMIN_USER}
            USER_ROOT_PASSWORD: ${ADMIN_PASS}
            USER_ROOT_EMAIL: ${ADMIN_EMAIL}
            WEBAPP_PORT: ${WEBAPP_PORT}
    nginx:
        image: nginx:1.17-alpine
        container_name: nginx
        restart: always
        depends_on:
            - frontend
            - postgrest
        networks:
            - artemis
        expose:
            - 8080 # HTTP
            - 8443 # HTTPS
        ports:
            - "8080:8080"
            - "8443:8443"
        volumes:
            - ./testing/testcafe/configs/nginx.conf:/etc/nginx/nginx.conf
            - ./frontend/webapp/configs/certs/:/etc/nginx/certs/
    rabbitmq:
        image: rabbitmq:3.8.3-management-alpine
        container_name: rabbitmq
        restart: always
        networks:
            - artemis
        expose:
            - ${RABBITMQ_PORT}
        environment:
            RABBITMQ_IO_THREAD_POOL_SIZE: 16
        volumes:
            - ./other/rabbitmq/enabled-plugins:/etc/rabbitmq/enabled_plugins
    postgres:
        image: timescale/timescaledb:1.1.0-pg10
        container_name: postgres
        restart: always
        networks:
            - artemis
        expose:
            - ${DB_PORT}
        environment:
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASS}
            DB_BACKUP: ${DB_BACKUP}
            DB_AUTOCLEAN: ${DB_AUTOCLEAN}
            DB_HIJACK_DORMANT: ${DB_HIJACK_DORMANT}
        volumes:
            - ./other/postgres-entrypoint.sh:/postgres-entrypoint.sh
            - ./other/db/init.sql:/docker-entrypoint-initdb.d/zinit.sql
            - ./other/db/data/:/docker-entrypoint-initdb.d/data/
            - ./other/db/libs/:/docker-entrypoint-initdb.d/libs/
        entrypoint: ["./postgres-entrypoint.sh"]
    postgrest:
        image: postgrest/postgrest:v7.0.0
        container_name: postgrest
        restart: always
        depends_on:
            - postgres
        networks:
            - artemis
        expose:
            - ${API_PORT}
        environment:
            PGRST_DB_URI: postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?application_name=postgrest
            PGRST_DB_SCHEMA: ${DB_SCHEMA}
            PGRST_DB_ANON_ROLE: ${DB_USER}
    pg-amqp-bridge:
        image: subzerocloud/pg-amqp-bridge:0.0.6
        container_name: pg-amqp-bridge
        restart: always
        depends_on:
            - postgres
            - database
            - rabbitmq
        networks:
            - artemis
        environment:
            - POSTGRESQL_URI=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?application_name=pg-amqp-bridge
            - AMQP_URI=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}//
            - BRIDGE_CHANNELS=events:amq.direct
        volumes:
            - ./backend-services/database/wait-for:/root/wait-for
        command: ["/root/wait-for", "${RABBITMQ_HOST}:${RABBITMQ_PORT}", "-t", "0", "--", "pg-amqp-bridge"]
    graphql:
        image: hasura/graphql-engine:v1.1.0
        container_name: graphql
        restart: always
        depends_on:
            - postgres
        networks:
            - artemis
        expose:
            - ${HASURA_PORT}
        environment:
            HASURA_GRAPHQL_DATABASE_URL: postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?application_name=graphql
            HASURA_GRAPHQL_ACCESS_KEY: ${HASURA_SECRET_KEY}
            HASURA_GRAPHQL_ENABLE_CONSOLE: ${HASURA_GUI}
            HASURA_GRAPHQL_JWT_SECRET: '{"type":"HS256", "key":"${JWT_SECRET_KEY}"}'
        command:
            - graphql-engine
            - serve

networks:
    artemis:
