artemis-utils==1.0.11
cffi==1.13.2
Cython==0.29.14
enum34==1.1.6
gql==0.4.0
ipaddress==1.0.23
kubernetes==12.0.1
requests==2.25.1
six==1.11.0
slacker-log-handler==1.7.1
tornado==6.0.4
ujson==1.35
watchdog==0.9.0
