venv/
.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.pyc
*.c
*.so
*/logs/*
*/snapshots/*
node_modules/
artemis.db
webapp.log
.npm/
frontend/db/*
postgres-data-current/*
postgres-data-backup/*
.idea
*.rdb
*_history
local_configs/*
prod-*.js
