repos:
- repo: local
  hooks:
    - id: value-verification
      name: Check configuration files
      language: script
      entry: ./other/verify_script.py
      pass_filenames: false
    - id: confunittest
      name: Configuration Unit Tests
      entry: /bin/bash -c 'cd backend-services/configuration && make test'
      language: script
      files: "backend-services/configuration/core"
      pass_filenames: false
- repo: https://github.com/ambv/black
  rev: 19.3b0
  hooks:
    - id: black
      name: Apply black formatter
- repo: git://github.com/asottile/reorder_python_imports
  rev: v1.4.0
  hooks:
    - id: reorder-python-imports
      name: Reorder python imports
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v2.1.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-docstring-first
    - id: check-merge-conflict
    - id: check-yaml
      exclude: '^artemis-chart/'
    - id: check-json
    - id: debug-statements
    - id: end-of-file-fixer
    - id: flake8
      exclude: .git, __pycache__, postgres-*
    - id: requirements-txt-fixer
    - id: trailing-whitespace
