language: python
dist: xenial
os: linux
services:
- docker
env:
  global:
  - DOCKER_TAG=$(if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST_BRANCH"
    == "" ]; then echo "latest"; else echo dev-PR${TRAVIS_PULL_REQUEST}; fi)
  - IS_FORK=$(if [ "$TRAVIS_REPO_SLUG" != "FORTH-ICS-INSPIRE/artemis" ]; then echo "fork"; fi)
branches:
  only:
    - master
jobs:
  include:
  - stage: checks
    name: PreCommitCheck
    install:
    - python -m pip install pre-commit pytest
    - python -m pip install -r backend/requirements.txt
    - pre-commit install
    script:
    - pre-commit run --all-files
  - name: MigrationCheck
    install: []
    before_script:
      - docker-compose pull postgres
    script:
      - wget -q -O postgres-data-current.tar.gz --no-check-certificate 'https://docs.google.com/uc?export=download&id=1UwtIp7gF5uO5PfhTbOAMPpDLJ4H55m7a'
      - tar xzf postgres-data-current.tar.gz
      - docker-compose up -d postgres
      - sleep 10
      - docker-compose logs postgres | grep "database system is ready to accept connections"
    after_success:
      - docker-compose logs postgres
    after_failure:
      - docker-compose logs postgres
  - stage: build and push containers
    name: backend
    install: []
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-backend:latest
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG} || true
    - $IS_FORK || echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
    script:
    - $IS_FORK || docker build -t inspiregroup/artemis-backend:${DOCKER_TAG} --cache-from inspiregroup/artemis-backend:latest --cache-from inspiregroup/artemis-backend:${DOCKER_TAG} backend/
    - $IS_FORK || docker push inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK && docker build -t artemis-backend:${DOCKER_TAG} backend/
  - name: frontend
    install: []
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-frontend:latest
    - $IS_FORK || docker pull inspiregroup/artemis-frontend:${DOCKER_TAG} || true
    - $IS_FORK || echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
    script:
    - $IS_FORK || docker build --build-arg revision=$(git rev-parse --short HEAD) -t inspiregroup/artemis-frontend:${DOCKER_TAG} --cache-from inspiregroup/artemis-frontend:latest --cache-from inspiregroup/artemis-frontend:${DOCKER_TAG} frontend/
    - $IS_FORK || docker push inspiregroup/artemis-frontend:${DOCKER_TAG}
    - $IS_FORK && docker build --build-arg revision=$(git rev-parse --short HEAD) -t artemis-frontend:${DOCKER_TAG} frontend/
  - name: monitor
    install: []
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-monitor:latest
    - $IS_FORK || docker pull inspiregroup/artemis-monitor:${DOCKER_TAG} || true
    - $IS_FORK || echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
    script:
    - $IS_FORK || docker build -t inspiregroup/artemis-monitor:${DOCKER_TAG} --cache-from inspiregroup/artemis-monitor:latest --cache-from inspiregroup/artemis-monitor:${DOCKER_TAG} monitor/
    - $IS_FORK || docker push inspiregroup/artemis-monitor:${DOCKER_TAG}
    - $IS_FORK && docker build -t artemis-monitor:${DOCKER_TAG} monitor/
  - stage: run tests
    name: TestCafe
    install: []
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK || docker pull inspiregroup/artemis-frontend:${DOCKER_TAG}
    - $IS_FORK || docker pull inspiregroup/artemis-monitor:${DOCKER_TAG}
    - $IS_FORK || docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - $IS_FORK || docker tag inspiregroup/artemis-frontend:${DOCKER_TAG} artemis_frontend:latest
    - $IS_FORK || docker tag inspiregroup/artemis-monitor:${DOCKER_TAG} artemis_monitor:latest
    script:
    - docker-compose -f docker-compose.testcafe.yaml up --abort-on-container-exit
    after_failure:
    - docker-compose -f docker-compose.testcafe.yaml logs
  - name: TestDetection
    install:
    - $IS_FORK || pip install coverage==4.5.4 codecov==2.1.0
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK || docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - docker build -t artemis_detection_testing testing/detection
    - docker-compose -f docker-compose.testdetection.yaml up -d
    script:
    - docker run --rm -ti --env-file .env --network artemis_artemis artemis_detection_testing
    after_success:
    - $IS_FORK || sh convert_coverage.sh
    - $IS_FORK || codecov
    after_failure:
    - docker-compose -f docker-compose.testdetection.yaml logs
  - name: TestAutoconf
    if: false
    install:
    - $IS_FORK || pip install coverage==4.5.4 codecov==2.1.0
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK || docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - docker build -t artemis_autoconf_testing testing/autoconf
    - docker-compose -f docker-compose.testautoconf.yaml up -d
    script:
    - docker run --rm -ti --env-file .env --network artemis_artemis artemis_autoconf_testing
    after_success:
    - $IS_FORK || sh convert_coverage.sh
    - $IS_FORK || codecov
    after_failure:
    - docker-compose -f docker-compose.testautoconf.yaml logs
  - name: Benchmark
    if: type == pull_request && fork = false
    install: []
    before_script:
    - docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - docker build -t artemis_benchmark testing/benchmark
    - docker-compose -f docker-compose.benchmark.yaml up -d
    script:
    - docker run --rm -ti --env-file .env -e "REPO_SLUG=${TRAVIS_REPO_SLUG}" -e "GITHUB_TOKEN=${GITHUB_TOKEN}"
      -e "PULL_REQUEST_NUMBER=${TRAVIS_PULL_REQUEST}"  --network artemis_artemis artemis_benchmark
  - name: TestAutoignore
    install:
    - $IS_FORK || pip install coverage==4.5.4 codecov==2.1.0
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK || docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - docker build -t artemis_autoignore_testing testing/autoignore
    - docker-compose -f docker-compose.testautoignore.yaml up -d
    script:
    - docker run --rm -ti --env-file .env --network artemis_artemis artemis_autoignore_testing
    after_success:
    - $IS_FORK || sh convert_coverage.sh
    - $IS_FORK || codecov
    after_failure:
    - docker-compose -f docker-compose.testautoignore.yaml logs
  - name: TestRPKI
    install:
    - $IS_FORK || pip install coverage==4.5.4 codecov==2.1.0
    before_script:
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK || docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - mkdir -p local_configs/routinator/tals
    - sudo chown -R 1012:1012 local_configs/routinator/tals
    - mkdir -p local_configs/routinator/rpki-repo
    - sudo chown -R 1012:1012 local_configs/routinator/rpki-repo
    - cp other/routinator/routinator.conf local_configs/routinator/routinator.conf
    - sudo chown -R 1012:1012 local_configs/routinator/routinator.conf
    - docker build -t artemis_rpki_testing testing/rpki
    - docker run --rm -v $(pwd)/local_configs/routinator/tals:/home/routinator/.rpki-cache/tals nlnetlabs/routinator init -f --accept-arin-rpa
    - docker-compose -f docker-compose.testrpki.yaml -f docker-compose.routinator.yaml up -d
    script:
    - docker run --rm -ti --env-file .env --network artemis_artemis artemis_rpki_testing
    after_success:
    - $IS_FORK || sh convert_coverage.sh
    - $IS_FORK || codecov
    after_failure:
    - docker-compose -f docker-compose.testrpki.yaml logs
  - name: ZAP Baseline (Passive)
    before_script:
    - docker pull ictu/zap2docker-weekly
    - $IS_FORK || docker pull inspiregroup/artemis-backend:${DOCKER_TAG}
    - $IS_FORK || docker pull inspiregroup/artemis-frontend:${DOCKER_TAG}
    - $IS_FORK || docker pull inspiregroup/artemis-monitor:${DOCKER_TAG}
    - $IS_FORK || docker tag inspiregroup/artemis-backend:${DOCKER_TAG} artemis_backend:latest
    - $IS_FORK || docker tag inspiregroup/artemis-frontend:${DOCKER_TAG} artemis_frontend:latest
    - $IS_FORK || docker tag inspiregroup/artemis-monitor:${DOCKER_TAG} artemis_monitor:latest
    - $IS_FORK && sed -i "s/image\:\sinspiregroup\/artemis-backend:\${SYSTEM_VERSION}/image\: artemis_backend\\n        build\:\ \.\/backend\//g" docker-compose.yaml
    - $IS_FORK && sed -i "s/image\:\sinspiregroup\/artemis-frontend:\${SYSTEM_VERSION}/image\: artemis_frontend\\n        build\:\ \.\/frontend\//g" docker-compose.yaml
    - $IS_FORK && sed -i "s/image\:\sinspiregroup\/artemis-monitor:\${SYSTEM_VERSION}/image\: artemis_monitor\\n        build\:\ \.\/monitor\//g" docker-compose.yaml
    - docker-compose up -d
    script:
    - sleep 15
    - docker run -t --network artemis_artemis ictu/zap2docker-weekly zap-baseline.py -t https://nginx --hook=/zap/auth_hook.py -z 'auth.loginurl=https://nginx/login auth.username="admin" auth.password="admin123" auth.username_field="email" auth.password_field="password" auth.submit_field="submit" auth.exclude=".*logout.*,\Qhttps://nginx/logout\E.*"' || true

notifications:
  slack:
    secure: es0zP6IAgEJbdvJz8apGlQAO0SOnMMuQwTbItiXTUjA60Tfn2gcB7vk8n60Y/pEsLn9Z9Kk9WJp7/S9jZiKITpzLxSabo0+PF+DangvNUZMmJ9NV7oJOxGVQS94Ape2pHs6x4SUpP6JkadIU5ZxXbjVr8ZIPL2VfdclPlMBsM/K3ZNgd5cPLnPKsPuKn9WtTFDm/oGaWh/V6Y9T7/l/kNZrj6K7IcrI2rv4+LKLZDNicaQIN59M4Qt4niaETYNqZuqtWewHZH+KlXKzukFZ92qUDEG/3TBvqQDqimbjAXZkltso1MXBnSblrKNb1b00WysGwhT89zPeovhjcrHZB9vH9mKGNp5qoiBjVGzKYHLptitNqupP2ReUaRqKonRAw43iAN+8SSfrmCtyQGDv60fWLheUw+fbK8IRMrAYIG9t20/upDbrPTxU741Cqzgfy5fygnAuqmRi5AkckymJte5bf/SwQsmf5IFpc6FP6fcGZT6yL1zf55tsi8pXpq80SLokcH2bO17wEHSJxuNPOxNgJQjugY/VX58owZgHgYn1sLGpxrKlAwuQgs1+Av16TRGhCjyQPgWRN9inva/AwNEtA+ljp4PqzTk7oBI9MLaX3osU8Rm6bfMI2KNwcWpfcbztkYwZQLR4v45M91QnAE9UCbbkg4epgTli2RKnHCyQ=
