cffi==1.13.2
Cython==0.29.14
enum34==1.1.6
ipaddress==1.0.23
kombu==4.6.7
netaddr==0.7.19
psycopg2==2.8.4
pytricia==1.0.0
PyYAML==5.3
redis==3.3.11
ruamel.yaml==0.16.7
six==1.13.0
slacker-log-handler==1.7.1
ujson==1.35
watchdog==0.9.0
