amqp==2.3.2
watchdog==0.9.0
billiard==3.5.0.4
kombu==4.2.1
netaddr==0.7.19
pamqp==1.6.1
pid==2.2.0
py-radix==0.10.0
pymemcache==1.4.4
pytz==2018.5
PyYAML==3.13
ruamel.yaml==0.15.47
setproctitle==1.1.10
socketIO-client-nexus==0.7.6
socketIO-client==0.7.2
vine==1.1.4
psycopg2-binary==2.7.5
redis==2.10.6
Cython==0.29
