{% extends "layout.htm" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block page_content %}
    {{super()}}
    <div class="sign-in-box-wrapper">
        <form action="{{ url_for('actions.set_new_password') }}" method="POST" name="password_change" class="form-signin">
            <div class="text-center mb-4">
                <img class="mb-4" src="{{ url_for('static', filename='images/password.png') }}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
            </div>
            {% if status == 'success': %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> Your password has been changed successfully!
            </div>
            {% elif status == 'wrong_old_password' %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error!</strong> Old password is incorrect!
            </div>
            {% endif %}
            <div class="signin pad">
                {% from "security/_macros.html" import render_field_with_errors, render_field %}
                {{ password_change.hidden_tag() }}

                <div class="form-label-group">
                    {{ render_field_with_errors(password_change.old_password, class_="form-control") }}
                </div>
                <div class="form-label-group">
                    {{ render_field_with_errors(password_change.password, class_="form-control") }}
                </div>
                <div class="form-label-group">
                    {{ render_field_with_errors(password_change.confirm, class_="form-control") }}
                </div>
                {{ render_field(password_change.submit, class_="btn btn-lg btn-primary btn-block") }}
            </div>
        </form>
    </div>

    {{succeed}}
{% endblock %}

{% block body %}
    {{super()}}
    {% block scripts %}
        {{super()}}
        <script>
            $( document ).ready(function() {
                $("#navbar_actions").addClass("active");
            });
        </script>
    {% endblock %}
{% endblock %}
