.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

.list-groupc {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-groupc-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.list-groupc-item, button.list-groupc-item {
    color: #555;
}

.list-groupc-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#timewindow_buttons {
    margin-bottom: 15px;
}

#display_entries_time {
    margin-top: 8px;
}

.textarea-full-width {
    min-width: 100%;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.vertical-center {
  text-align: center;
  margin-top: 80px;
}

.form-control_custom {
    height: calc(2.25rem + 2px);
}

@-moz-document url-prefix() {
  .form-control_custom {
    height: auto;
    min-height: 36px;

  }
}

.config-cancel-button {
    margin-right: 10px;
    display: none;
}


.selected {
    background-color: #ffc10766!important;
}


.tooltip-inner {
    max-width: 500px;
    padding: 3px 8px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    background-color: #014379;
    border-radius: .25rem;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-custom-margin {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}

.card-body-hide {
    display: none;
}

.form-control-sm-auto {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    width: auto;
    display: inline-block;
}

.badge-acknowledged {
    margin-top: 4px;
}

.load-as-set-margin {
  margin-right: 9px;
}
