# general
guiEnabled: true
systemVersion: latest
historic: false
replicaCount: 1
# redis
redisHost: backend
redisPort: 6379
# supervisor
supervisorHost: backend
supervisorPort: 9001
# monitor supervisor
monSupervisorHost: monitor
monSupervisorPort: 9001
# api
apiHost: postgrest
apiPort: 3000
# monitor-specific configs
risId: 8522
# database
dbHost: postgres
dbPort: 5432
dbVersion: 17
dbName: artemis_db
dbUser: artemis_user
dbPass: Art3m1s
dbSchema: public
dbAutoClean: false
dbBackup: true
dbHijackDormant: false
# webapp
bindIp: 0.0.0.0
webappHost: frontend
webappPort: 8000
adminUser: admin
adminPass: admin123
adminEmail: admin@admin
jsVersion: 1.0.2
# rabbitmq
rabbitmqHost: rabbitmq
rabbitmqPort: 5672
rabbitmqUser: guest
rabbitmqPass: guest
# hasura
hasuraHost: graphql
hasuraPort: 8080
hasuraGui: false
# custom log filter
hijackLogFilter: [{"community_annotation":"critical"},{"community_annotation":"NA"}]
# timeout (sec) since last seen BGP update for monitors
monTimeoutLastBgpUpdate: 3600
# services
svc:
  backend:
    ports:
    - 6379
    - 9001
  monitor:
    ports:
    - 9001
  postgrest:
    ports:
    - 3000
  postgres:
    ports:
    - 5432
  frontend:
    ports:
    - 8000
  rabbitmq:
    ports:
    - 5672
  graphql:
    ports:
    - 8080
  nginx:
    ports:
    - 80
    - 443
