{% extends "base/layout_container.htm" %}

{% block title %}
    {{super()}} - Error 500: Internal Server Error
{% endblock %}

{% block head %}
    {{super()}}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="container d-flex h-100">
		    <div class="row align-self-center w-100">
		        <div class="col-6 mx-auto">
		            <div class="jumbotron vertical-center">
		            	<p class="lead">
		                    <img src="{{ url_for('static', filename='images/400_not_found.png') }}"></img>
		                </p>
		                <h1 class="display-4">Error 500</h1>
		                <p class="lead">Internal Server Error.</p>
		            </div>
		        </div>
		    </div>
		</div>

{% endblock %}

{% block body %}
    {{super()}}
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock %}
