{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block head %}
	{{super()}}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Control Panel</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						<div class="jumbotron">
							<div class="container">
								Configuration Here..
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<form method="post">
							<div class="form-group">
								{{ form.hidden_tag() }}
								<div class="panel panel-primary">
									<div class="panel-heading">Monitor</div>
									<div class="panel-body"><center>{{ form.monitor(**{'data-toggle': 'toggle'}) }}</center></div>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">Detector</div>
									<div class="panel-body"><center>{{ form.detector(**{'data-toggle': 'toggle'}) }}</center></div>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">Mitigator</div>
									<div class="panel-body"><center>{{ form.mitigator(**{'data-toggle': 'toggle'}) }}</center></div>
								</div>
								{{ form.submit(class_='btn btn-primary pull-right') }}
							</div>
						</form>
					</div>
					{% if form.erros %}
						<div class="panel-footer">{{ form.errors }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{{super()}}
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}