artemis-utils==1.0.15
cffi==1.15.1
Cython==0.29.30
enum34==1.1.10
gql==3.4.0
ipaddress==1.0.23
kombu==5.2.4
netaddr==0.8.0
psycopg2==2.9.3
pytricia==1.0.2
PyYAML==6.0
redis==4.3.4
requests==2.28.1
ruamel.yaml==0.17.21
six==1.16.0
slacker-log-handler==1.8.0
tornado==6.2
ujson==5.4.0
