{% extends "layout.htm" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>


            <div class="col-lg-8">
                

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Activity
                        </div>
                        <div class="panel-body">
                            Welcome back <b>{{ current_user.email }}</b>, your last login was at <b>
                            {% if current_user.last_login_at != None %}
                                {{ current_user.last_login_at.strftime('%d, %b %Y (%H:%M)' ) }}
                            {% else %}
                                Never
                            {% endif %}
                            </b> from {{ current_user.last_login_ip }}.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div id="monitors">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Monitors
                        </div>
                        <div class="panel-body">
                            Monitors running:

                        </div>
                    </div>
                </div>

                <div id="systemstatus">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> System Status
                        </div>
                        <div class="panel-body">
                            <div class="list-group">

                                <ul>
                                    <li class="list-group-item">Uptime: </li>
                                    <li class="list-group-item">Database size: </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


    
{% endblock %}

