{% extends "layout.htm" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>


            <div class="col-lg-8">
                

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Activity
                        </div>
                        <div class="panel-body">
                            Welcome back <b>{{ current_user.email }}</b>, your last login was at <b id="last_login">
                            {% if current_user.last_login_at != None %}
                                {{ current_user.last_login_at.timestamp() }}
                            {% else %}
                                0
                            {% endif %}
                            </b> from {{ current_user.last_login_ip }}.
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Current Configuration
                        </div>
                        <div class="panel-body">
                            <div id="config_alert_box"></div>

                            <form><textarea id="code_yaml" name="code_yaml">{{ config }}</textarea></form>

                            </br>
                            <div class="row">
                                <div class="col-lg-6">
                                    </hr>
                                    <div id="conf_timestamp"></div>
                                </div>
                                <div class="col-lg-6">
                                    </hr>
                                    <p class="float-right"><i>Times are shown in your local time zone.</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div id="monitors">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> System Status
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <ul>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-4"><strong>Module</strong></div>
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-4"> <strong>Status</strong> </div>
                                                    <div class="col-lg-8"> <strong>Uptime</strong> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% for module in modules %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-4">{{ module }}</div>

                                            <div class="col-lg-8">{% if modules[module]['status'] == 'up': %}
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                             <b style="color:#008000">On</b>
                                                        </div> 
                                                        <div class="col-lg-8">
                                                            {{ modules[module]['uptime'] }}
                                                        </div>  
                                                    </div>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <b style="color:#ff0000">Off</b>
                                                        </div> 
                                                        <div class="col-lg-8">
                                                            {{ modules[module]['uptime'] }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="systemstatus">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Statistics
                        </div>
                        <div class="panel-body">
                            <div class="list-group">

                                <ul>
                                    {% for stat in db_stats %}
                                    <li class="list-group-item"> 
                                        <div class="row">
                                            <div class="col-lg-7">{{ stat[0] }}:</div>


                                            <div class="col-lg-5">
                                                <b>{{ stat[1] }}</b>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    {% block scripts %}
        {{super()}}
        <script>
            function update_config_timestamp(){
                $("#conf_timestamp").html("Last Update: " + transform_date_to_local_( '{{ config_timestamp }}' ))
            }
            
            function transform_date_to_local_(date){
                var date_ = moment.utc(date)
                if(date_._isValid){
                    var local = date_.local().format('YYYY-MM-DD HH:mm:ss');
                    return local;
                }
                return "Never";
            }

            $(document).ready(function(){ 
                update_config_timestamp();
                $("#last_login").html("(" + transform_unix_timestamp_to_client_local_time($("#last_login").text()) + ")")

                editor = CodeMirror.fromTextArea(document.getElementById("code_yaml"), {lineNumbers: true, indentUnit: 4, readOnly: true});
                editor.setSize(null, 633);
            });

        </script>
        <script src="{{ url_for('static', filename='js/custom/utils.js') }}"></script>
        <script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
        <script src="{{ url_for('static', filename='js/yaml.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>

    {% endblock %}
{% endblock %}
        
