{% extends "base.htm" %}

{% block title %}ARTEMIS{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/additional.css') }}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {{super()}}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('overview') }}">ARTEMIS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            {% if user.has_role('admin') or user.has_role('user') %}
                            <li class="nav-item">
                                <a class="navbar-brand" href="{{ url_for('overview') }}">{{ _('Overview') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="{{ url_for('main.display_monitors') }}">{{ _('BGP Updates') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="{{ url_for('main.display_hijacks') }}">{{ _('Hijacks') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.has_role('admin') %}
                            <li class="nav-item">
                                <a class="navbar-brand" href="{{ url_for('admin.index') }}">{{ _('Admin') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="{{ url_for('admin.user_management') }}">{{ _('User Management') }}</a>
                            </li>
                            {% endif %} {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="navbar-brand" href="/login">{{ _('Login') }}</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="navbar-brand" href="/logout">{{ _('Logout') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

    {% block content %}
        <main role="main" class="container-fluidc">
        {% block page_content %}{% endblock %}
        </main>     
        <footer class="footer">
            <div class="container-fluidc">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
                <p>ARTEMIS version {{ version }}</p>
            </div>
        </footer>

    {% endblock %}
{% endblock %}
