{{- range $key, $value := .Values.svc }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name}}-{{ $key }}-svc
  labels:
{{ include "artemis.labels" . | indent 4 }}
spec:
  ports:
  {{- range $value.ports }}
  - name: {{ . | quote }}
    port: {{ . }}
    targetPort: {{ . }}
  {{- end }}
  selector:
    app: {{ $.Release.Name }}-{{ $key }}
status:
  loadBalancer: {}
---
{{- end }}
