{% extends "layout.htm" %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User Management</h1>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Approve pending users
                    </div>
                    <div class="panel-body">
                    	<form action="{{ url_for('actions.approve_user') }}" method="POST" name="approve_user_form">
	                    	{{ users_to_approve_form.hidden_tag() }}
	                    	{% from "security/_macros.html" import render_field %}
  							<div class="form-group w-50 p-3">
  								<label for="pending_users_approval"><strong>Select pending user to approve:</strong></label>
                    			{{ render_field(users_to_approve_form.user_to_approve, class_="form-control") }}
                    		</div>
                    		<div class="w-25 p-3">
                    			<button type="submit" class="btn btn-primary">Approve user</button>
                    		</div>

                    	</form>
                	</div>
            	</div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Add administrator
                    </div>
                          <div class="panel-body">
                    	<form action="{{ url_for('actions.create_admin') }}" method="POST" name="create_admin_form">
                    		{{ users_to_make_admin_form.hidden_tag() }}
	                    	{% from "security/_macros.html" import render_field %}
  							<div class="form-group w-50 p-3">
  								<label for="admin_priviliges"><strong>Select user to give admin privileges:</strong></label>
							    {{ render_field(users_to_make_admin_form.user_to_make_admin, class_="form-control") }}
                    		</div>
                    		<div class="w-25 p-3">
                    			<button type="submit" class="btn btn-primary">Promote to Admin</button>
                    		</div>
                    	</form>
                	</div>
                </div>
	       	</div>
	       	<div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Delete user
                    </div>
                          <div class="panel-body">
                    	<form action="{{ url_for('actions.delete_user') }}" method="POST" name="create_admin_form">
                    		{{ users_to_delete_form.hidden_tag() }}
	                    	{% from "security/_macros.html" import render_field %}
  							<div class="form-group w-50 p-3">
  								<label for="admin_priviliges"><strong>Select user to delete:</strong></label>
							    {{ render_field(users_to_delete_form.user_to_delete, class_="form-control") }}
                    		</div>
                    		<div class="w-25 p-3">
                    			<button type="submit" class="btn btn-primary">Delete User</button>
                    		</div>
                    	</form>
                	</div>
                </div>
	       	</div>
        </div>
{% endblock %}

{% block body %}
    {{super()}}
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock %}

