{% extends "layout.htm" %}
{% block scripts %}
    {{super()}}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {{super()}}
    <div class="container container-login">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                    <h4>Welcome back.</h4>
                    {% from "security/_macros.html" import render_field_with_errors, render_field %}
                    {% include "security/_messages.html" %}
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    {{ render_field_with_errors(login_user_form.email) }}
                    {{ render_field_with_errors(login_user_form.password) }}
                    {{ render_field_with_errors(login_user_form.remember) }}
                    {{ render_field(login_user_form.next) }}
                    {{ render_field(login_user_form.submit) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
