{% extends "base/base.htm" %}

{% block title %}ARTEMIS{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/additional.css') }}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {{super()}}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('overview') }}"><img src="/images/artemis_logo.png" style="width: 128px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated %}
                            <li id="security.login" class="nav-item">
                                <a class="nav-link" href="/login">{{ _('Login') }}</a>
                            </li>
                            <li id="security.register_user" class="nav-item">
                                <a class="nav-link" href="/create_account">{{ _('Create account') }}</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">{{ _('Logout') }}</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://www.inspire.edu.gr/artemis/">{{ _('About') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

    {% block content %}
        <main role="main" class="container">
        {% block page_content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
            </div>
        </footer>

    {% endblock %}
{% endblock %}
