{% extends "base/base.htm" %}

{% block title %}ARTEMIS{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/additional.css') }}">
{% endblock %}

{% block body %}
    {% block navbar %}
        {{super()}}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('overview') }}">ARTEMIS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            {% if user.has_role('admin') or user.has_role('user') %}
                            <li class="nav-item">
                                <a id="overview" class="nav-link" href="{{ url_for('overview') }}">{{ _('Overview') }}</a>
                            </li>
                            <li class="nav-item">
                                <a id="navbar_bgpupdates" class="nav-link" href="{{ url_for('main.display_monitors') }}">{{ _('BGP Updates') }}</a>
                            </li>
                            <li class="nav-item">
                                <a id="navbar_hijacks" class="nav-link" href="{{ url_for('main.display_hijacks') }}">{{ _('Hijacks') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.has_role('admin') %}
                            <li id="navbar_admin" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="admin_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Admin') }}</a>
                                <div class="dropdown-menu" aria-labelledby="admin_dropdown">
                                    <a class="dropdown-item" href="{{ url_for('admin.system') }}">System</a>
                                    <a class="dropdown-item" href="{{ url_for('admin.user_management') }}">{{ _('User Management') }}</a>
                                </div>
                            </li>
                            {% endif %}
                            {% if user.has_role('admin') or user.has_role('user') %}
                            <li id="navbar_actions" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="admin_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                                <div class="dropdown-menu" aria-labelledby="admin_dropdown">
                                    <a class="dropdown-item" href="{{ url_for('actions.password_change') }}">Change Password</a>
                                    <a class="dropdown-item" href="{{ url_for('main.config_comparison') }}">{{ _('Config Comparison') }}</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://www.inspire.edu.gr/artemis/">{{ _('About') }}</a>
                            </li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login">{{ _('Sign in') }}</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">{{ _('Sign out') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

    {% block content %}
        <main role="main" class="container-fluidc">
        {% block page_content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container-fluidc">
                <p class="float-right">
                  <a href="#">Back to top</a>
                </p>
                <p>ARTEMIS v.'{{ version }}'</p>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
