Cython==0.29.3
ipaddress==1.0.22
kombu==4.2.2.post1
netaddr==0.7.19
psycopg2==2.8.4
pytricia==1.0.0
PyYAML==5.3
redis==3.3.11
ruamel.yaml==0.15.87
slacker-log-handler==1.7.1
socketIO-client==0.7.2
socketIO-client-nexus==0.7.6
ujson==1.35
websocket-client==0.54.0
wheel==0.33.6
