# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                   ARTEMIS Config File                     #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #


#   #   #   #   #   #   #   #   #   #   #   #   #   #   #   # 
# - -                                                   - - #
# - - - - - # Start of Prefix Definition Groups # - - - - - #
# - -                                                   - - #

[prefixes_group]

my_prefixes: X.Y.Z.W/N, ...
...: ...

# - -                                                   - - #
# - - - - - # End of Prefix Definition Groups # - - - - - - #
# - -                                                   - - #
#                                                           # 
#                                                           # 
# - -                                                   - - #
# - - - - - # Start of Monitor Definition Groups # - -- - - #
# - -                                                   - - #

[monitors_group]

riperis: rrc01, rrc02, rrc03, rrc04, rrc05, rrc06, rrc07, rrc08, rrc09, rrc10, rrc11, rrc12, rrc13, rrc14, rrc15, rrc16, rrc17, rrc18, rrc19, rrc20, rrc21, rrc22, rrc23
exabgp: (<IP1> : <PORT_1>), ...
bgpstreamhist: <path_to_dir_with_hist_csv_files>
bgpstreamlive: routeviews, ris
...: ...

# - -                                                   - - #
# - - - - - # End of Monitor Definition Groups #  - - - - - #
# - -                                                   - - #
#                                                           # 
#                                                           # 
# - -                                                   - - #
# - - - - - # Start of ASN  Definition Groups # - - - - - - #
# - -                                                   - - #

[asns_group]

my_asn: 65001
my_upstream_asn: 65002
moas_asn: 65005
moas_upstream_asn: 65003
...: ...

# - -                                                   - - #
# - - - - - # End of Monitor Definition Groups #  - - - - - #
# - -                                                   - - #
#                                                           # 
#                                                           #                   #
#                                                           #
# - -                                                   - - #
# - - - - - # Start of Rule Declaration Groups  # - - - - - #
# - -                                                   - - #

[group1]
prefixes: my_prefixes
origin_asns: my_asn, moas_asn
neighbors: my_upstream_asn, moas_upstream_asn
mitigation: manual
# optionally mitigation can also be: <path_to_exec_script>
# The script should have one input: '-i' (<str>), containing the ARTEMIS-supplied hijack info

[group2]
prefixes: ...
origin_asns: ...
neighbors: ...
mitigation: ...

...

# - -                                                   - - #
# - - - - - # End of Rule Declaration Groups  # - - - - - - #
# - -                                                   - - #
#   #   #   #   #   #   #   #   #   #   #   #   #   #   #   # 
