artemis-utils==1.0.11
cffi==1.13.2
Cython==0.29.14
enum34==1.1.6
gql==0.4.0
ipaddress==1.0.23
kombu==4.6.7
netaddr==0.7.19
psycopg2==2.8.4
pytricia==1.0.0
PyYAML==5.4
redis==3.4.0
requests==2.25.1
ruamel.yaml==0.16.5
six==1.11.0
slacker-log-handler==1.7.1
tornado==6.0.4
ujson==1.35
