{% extends "layout_container.htm" %}

{% block head %}
    {{super()}}
  	<title>ARTEMIS - Error 401: Unauthorized to access this page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<meta http-equiv="refresh" content="3;url={{ url_for('security.login') }}" />
{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="container d-flex h-100">
		    <div class="row align-self-center w-100">
		        <div class="col-6 mx-auto">
		            <div class="jumbotron vertical-center">
		            	<p class="lead">
		                    <img src="{{ url_for('static', filename='images/401_unauthorized.png') }}"></img>
		                </p>
		                <h1 class="display-4">Error 401</h1>
		                <p class="lead">You are not authorized to access this page.</p>
		            </div>
		        </div>
		    </div>
		</div>

{% endblock %}

{% block body %}
    {{super()}}
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock %}
