{% extends "layout_container.htm" %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{super()}}
  	<title>ARTEMIS - Error 404: Unauthorized to access this page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="container d-flex h-100">
		    <div class="row align-self-center w-100">
		        <div class="col-6 mx-auto">
		            <div class="jumbotron vertical-center">
		            	<p class="lead">
		                    <img src="{{ url_for('static', filename='images/404_not_found.png') }}"></img>
		                </p>
		                <h1 class="display-4">Error 404</h1>
		                <p class="lead">The requested page was not found on this server.</p>
		            </div>
		        </div>
		    </div>
		</div>

{% endblock %}

{% block body %}
    {{super()}}
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock %}
