{% extends "layout.htm" %}

{% block title %}
    {{super()}} - Config Comparison
{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/merge.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog.css') }}">
{% endblock %}

{% block page_content %}
    {{super()}}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Configuration Comparison</h1>
            </div>

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="config_a">Select config:</label>
                                    <form name="config_a_form">
                                        <select class="form-control_custom w-75 p-1" id="config_a">
                                            {% for config_ in configs %}
                                            <option id="{{ config_['time_modified'] }}">{{ config_['time_modified'] }}</div> </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="config_a">Select config:</label>
                                    <form name="config_b_form">
                                        <select class="form-control_custom w-75 p-1" id="config_b" autocomplete="off">
                                            {% for config_ in configs %}
                                            <option id="{{ config_['time_modified'] }}">{{ config_['time_modified'] }}</div> </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>
                            </div>
                	   </div>
                       <div class ="row">
                            <div class="col-lg-12">
                                <div id="view_diffs"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-bell fa-fw"></i> Configuration comments
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <form><textarea id="config_comment_box_a" name="config_comment_box_a"></textarea></form>
                                            </div>
                                            <div class="col-lg-6">
                                                <form><textarea id="config_comment_box_b" name="config_comment_box_b"></textarea></form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                </hr>
                                <p class="float-right"><i>Times are shown in your local time zone <b id="timezone"></b>.</i>
                            </div>
                       </div>
                    </div>
            	</div>
            </div>
        </div>
{% endblock %}

{% block body %}
    {{super()}}
    {% block scripts %}
        {{super()}}
        <script>
            
            var config_a_data, config_b_data; 
            var connect = "align", collapse = false, highlight = true;
            var target = document.getElementById("view_diffs");
            var cache_configs = {};
            var diff_editor;
            var comment_editor_a, comment_editor_b;

            $(document).ready(function(){
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('proxy_api') }}',
                    data: { "action": "configs", "parameters" : JSON.stringify({ "time_modified": 'eq.' + "{{ configs[0]['time_modified'] }}" }) },
                    success: function(result){
                        if(result.total > 0){
                            config_a_data = {
                                'raw_config': result.results[0]['raw_config'],
                                'comment': result.results[0]['comment']
                            };
                            config_b_data = config_a_data;
                            cache_configs[result.results[0]['time_modified']] = {
                                    'raw_config': result.results[0]['raw_config'],
                                    'comment': result.results[0]['comment']
                                };
                            render_diffs();
                        }
                    },
                    dataType: 'json'
                });

                $("#config_a > option").each(function() {
                    $(this).html('Timestamp: ' + transform_date_to_local_(this.value))
                });
                $("#config_b > option").each(function() {
                    $(this).html('Timestamp: ' + transform_date_to_local_(this.value))
                });

                comment_editor_a = CodeMirror.fromTextArea($('#config_comment_box_a')[0], {
                    lineNumbers: true,
                    indentUnit: 4,
                    readOnly: true
                });
                comment_editor_a.setSize("100%", 140);

                comment_editor_b = CodeMirror.fromTextArea($('#config_comment_box_b')[0], {
                    lineNumbers: true,
                    indentUnit: 4,
                    readOnly: true
                });
                comment_editor_b.setSize("100%", 140);

                $('#timezone').html(display_timezone());
            });


            function render_diffs(){
                diff_editor = CodeMirror.MergeView(target, {
                    value: config_a_data['raw_config'],
                    orig: config_b_data['raw_config'],
                    lineNumbers: true,
                    mode: "yaml",
                    highlightDifferences: highlight,
                    connect: connect,
                    collapseIdentical: collapse
                });

                comment_editor_a.setValue(config_a_data['comment']);
                comment_editor_b.setValue(config_b_data['comment']);
            }

            $( "#config_a" ).on('change', function() {
                var id = $(this).children(":selected").attr("id");
                $(this).children(":selected").prop('selected',true);
                if (id in cache_configs){
                    config_a_data = cache_configs[id];
                    $('#view_diffs').html('');
                    render_diffs();
                }else{
                    $.ajax({
                        type: 'POST',
                        url: '{{ url_for('proxy_api') }}',
                        data: { "action": "configs", "parameters" : JSON.stringify({ "time_modified": 'eq.' + id }) },
                        success: function(result){
                            if(result.total > 0){
                                cache_configs[result.results[0]['time_modified']] = {
                                    'raw_config': result.results[0]['raw_config'],
                                    'comment': result.results[0]['comment']
                                };
                                config_a_data = cache_configs[result.results[0]['time_modified']];
                                $('#view_diffs').html('');
                                render_diffs();
                            }
                        },
                        dataType: 'json'
                    }); 
                } 
            });

            $( "#config_b" ).on('change', function() {
                var id = $(this).children(":selected").attr("id");
                $(this).children(":selected").prop('selected',true);
                if (id in cache_configs){
                    config_b_data = cache_configs[id];
                    $('#view_diffs').html('');
                    render_diffs();
                }else{
                    $.ajax({
                        type: 'POST',
                        url: '{{ url_for('proxy_api') }}',
                        data: { "action": "configs", "parameters" : JSON.stringify({ "time_modified": 'eq.' + id }) },
                        success: function(result){
                            if(result.total > 0){
                                cache_configs[result.results[0]['time_modified']] = {
                                    'raw_config': result.results[0]['raw_config'],
                                    'comment': result.results[0]['comment']
                                };
                                config_b_data = cache_configs[result.results[0]['time_modified']];
                                $('#view_diffs').html('');
                                render_diffs();
                            }
                        },
                        dataType: 'json'
                    });
                }
            });

            function toggleDifferences() {
                diff_editor.setShowDifferences(highlight = !highlight);
            }

            function transform_date_to_local_(date){
                var date_ = moment.utc(date)
                if(date_._isValid){
                    var local = date_.local().format('YYYY-MM-DD HH:mm:ss');
                    return local;
                }
                return "Never";
            }
 

        </script>

        <script src="{{ url_for('static', filename='js/custom/utils.js') }}{{ js_version }}"></script>    
        <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}{{ js_version }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/addon/merge/merge.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/mode/yaml/yaml.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/addon/dialog/dialog.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/addon/search/search.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.0/addon/search/searchcursor.min.js"></script>
    {% endblock %}
{% endblock %}

